.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/373/712/db1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#title{
  color: rgb(255, 255, 255);
  font-family: copperplate,fantasy;
  font-size: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:rgba(90, 90, 90, 0.74);
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

#entry1{
  box-shadow: 0px 1px 1px rgb(153, 153, 153);
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  margin: 0px;
  padding: 1px;
}
#entry2{
  box-shadow: 0px 1px 1px rgb(153, 153, 153);
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  margin: 0px;
  padding: 1px;
}

nav,
article {
  height: 100%;
  padding: 10px;
  
}

nav {
  background-color: rgba(90, 90, 90, 0.74);;
}

nav p:hover, nav p:active {
  text-decoration: underline;
  color: rgb(107, 194, 235);
  cursor: pointer;
}
ul.a{
  list-style-type: circle;
  color:white;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

#textOutput{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #ffffff;
font-family: verdana, 'open sans', sans-serif;
margin-bottom: 25px;
padding: 10px 14px 10px 44px;
position: relative;
box-shadow: 0px 1px 5px rgb(153, 153, 153);
background-color: rgba(0, 0, 0, 0.637);

}

#welcome{
  box-shadow: 0px 1px 1px rgb(153, 153, 153);
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  margin: 0px;
  padding: 1px;
}
